* {
    outline: 0;
    padding: 0;
    margin: 0;
}

*::selection {
    background: transparent;
}

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body { 
    background: #303245;
    color: white;

    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

li {
    padding-left: 0;
    list-style-type: none;
}

#left,
#center,
#right,
#nav {
    float: left;
    clear:right;
    margin: 26px 0 0 26px;
}

#left {
    text-align: right;
    width: 240px;
}

#center { width: 280px; }

#right { width: 112px; }

#nav { width: 140px; }

h2 {  margin-bottom: 13px; }

h3 {
    margin-bottom: 13px;
    padding: 3px 6px;
}

.label { font-style: italic; }

table { margin: 0 0 26px auto; }

#score {
    background: white;
    color: #303245;
    display: inline-block;
    width: 112px;
}

#left > div { margin-bottom: 26px; }

#left li { color: #7d7e8a; }

#left li.silver {
    font-weight: bold;
    color: silver;
}

#left li.gold {
    font-weight: bold;
    color: gold;
}

#left li.aqua {
    font-weight: bold;
    color: aqua;
}

#nav li {
    padding: 6px 6px 8px;
    margin: 0 0 6px 6px;
    line-height: 100%;
}

.button {
    cursor: pointer;

    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
}

.button:hover {
    background-color: white;
    color: #303245;
    box-shadow: 0 0 26px rgba(255, 255, 255, 0.6);

    -ms-transition-duration: 5ms;
    transition-duration: 5ms;
}

.on {
    background-color: white;
    color: #303245;
}

.emoji {
    display: inline-block;
    width: 20px;
    text-align: center;
}

li#day {
    padding: 6px 0 8px;
    margin: 26px 42px 0 48px;
    border-radius: 18px;
    text-align: center;
}

table#board td {
    -ms-transition: none;
    transition: none;
}

td {
    width: 26px;
    height: 26px;
    margin: 1px;

    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

/* TD tag colors */

td { background: #575c78; }
td.over { background: #404561; }
td.ghost { background: #8f93a8; }
td.hidden { background: transparent; }
td.i { background: #47f6ff; }
td.o { background: #eeff00; }
td.j { background: #4f9eff; }
td.l { background: #ff952b; }
td.t { background: #e34fc5; }
td.s { background: #26ff00; }
td.z { background: #fa6666; }

/* day theme */

body.day {
    background: white;
    color: #303245;
}

body.day #score {
    background: #303245;
    color: white;
}

body.day #left li.silver { color: #444444; }
body.day #left li.gold { color: #eb6105; }
body.day #left li.aqua { color: #ff00aa; }

body.day .button:hover {
    background-color: #303245;
    color: white;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.6);
}

body.day .on {
    background-color: #303245;
    color: white;
}

body.day td { background: #e9f1ff; }
body.day td.over { background: #d4e5ff; }
body.day td.ghost { 
    width: 26px;
    height: 26px;
    background: #b8b7e7;
}
body.day td.hidden { background: transparent; }
body.day td.i { background: #00c9e4; }
body.day td.o { background: #f8cb00; }
body.day td.j { background: #2775d4; }
body.day td.l { background: #e95f03; }
body.day td.t { background: #da35b9; }
body.day td.s { background: #25b320; }
body.day td.z { background: #f13737; }