* {
    outline: 0;
    padding: 0;
    margin: 0;
}

*::selection {
    background: transparent;
}

html {
    background: #303245;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
    padding-left: 0;
    list-style-type: none;
}

#left,
#center,
#right,
nav {
    float: left;
    margin: 26px 0 0 26px;
}

h2 {
    margin-bottom: 13px;
}

.label {
    font-style: italic;
}

h3 {
    margin-bottom: 13px;
    padding: 3px 6px;
}

table {
    margin: 0 0 26px auto;
}

#score {
    background: white;
    color: #303245;
    display: inline-block;
    min-width: 112px;
}

#left {
    text-align: right;
    width: 220px;
}

#left > div {
    margin-bottom: 26px;
}

#left li {
    color: #7d7e8a;
}

#left li.silver {
    font-weight: bold;
    color: silver;
}

#left li.gold {
    font-weight: bold;
    color: gold;
}

#left li.aqua {
    font-weight: bold;
    color: aqua;
}

nav {
    min-width: 120px;
}

nav li {
    padding: 3px 6px;
    margin: 0 0 6px 6px;
}

.button {
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}

.button:hover {
    background-color: white;
    color: #303245;
    box-shadow: 0 0 26px rgba(255, 255, 255, 0.6);
    transition-duration: 5ms;
}

.on {
    background-color: white;
    color: #303245;
}

.emoji {
    display: inline-block;
    width: 20px;
    text-align: center;
}

/* TD tag colors */

table#board td {
    transition: none;
}

td {
    width: 26px;
    height: 26px;
    margin: 1px;
    transition: background 0.2s ease;
}

td {
    background: #575c78;
}

td.over {
    background: #404561;
}

td.ghost {
    background: #8f93a8;
}

td.hidden {
    background: transparent;
}

td.i {
    background: #47f6ff;
}

td.o {
    background: #eeff00;
}

td.j {
    background: #4f9eff;
}

td.l {
    background: #ff952b;
}

td.t {
    background: #e34fc5;
}

td.s {
    background: #26ff00;
}

td.z {
    background: #fa6666;
}
